.u-visually-hidden {
  @include visually-hidden();
}

.u-width-100 {
  width: 100%;
}
.u-width-90 {
  width: 90%;
}

.u-height-100 {
  height: 100%;
}

.u-height-initial {
  height: initial;
}

.u-height-auto {
  height: auto;
}

.u-display-inline {
  display: inline-block;
}

.u-display-none {
  display: none;
}

.u-flex {
  display: flex;

  &--one {
    flex: 1;
  }
  &--two {
    flex: 2;
  }
  &--three {
    flex: 3;
  }

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-center {
    align-items: center;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--end {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }
}

.u-flex-grow {
  flex-grow: 1;
}

.u-centered {
  margin-right: auto;
  margin-left: auto;
}

.u-margin-auto {
  margin: auto;
}

.u-position-relative {
  position: relative;
}

.u-button-no-style {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.u-link-no-style {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.u-align-self-centered {
  align-self: center;
}
